
/*=============coun down timer===========*/
.tick {
    font-size:1rem; white-space:nowrap; font-family:arial,sans-serif;
    max-width:350px;
  }
  
  .tick-flip,.tick-text-inline {
    font-size:2.5em;
  }
  
  .tick-label {
    margin-top:1em;font-size:1em;
  }
  
  .tick-char {
    width:1.5em;
  }
  
  .tick-text-inline {
    display:inline-block;text-align:center;min-width:1em;
  }
  
  .tick-text-inline+.tick-text-inline {
    margin-left:-.325em;
  }
  
  .tick-group {
    margin:0 .5em;text-align:center;
  }
  
  body {
     background-color: rgb(255, 255, 255) !important; 
  }
  
  .tick-text-inline {
     color: rgb(90, 93, 99) !important; 
  }
  
  .tick-label {
     color: rgb(90, 93, 99) !important; 
  }
  
  .tick-flip-panel {
     color: rgb(255, 255, 255) !important; 
  }
  
  .tick-flip {
     font-family: !important; 
  }
  
  .tick-flip-panel-text-wrapper {
     line-height: 1.45 !important; 
  }
  
  .tick-flip-panel {
     background-color: rgb(59, 61, 59) !important; 
  }
  
  .tick-flip {
     border-radius:0.12em !important; 
  }
  /*==========./coun down timer========*/
  
.giveaways_add_to_cart{cursor: pointer;}
.giveaways_add_to_cart.disabled{pointer-events: none;}